.head-bar {
  background-color: #3caea3;
  border-radius: 3px;
  padding: 10px;
  color: white;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
}
