.col {
    background-color: #20639b;
    padding: 10px;
    flex-grow: 1;
    margin: 1px;
    flex-basis: 100%;
    min-height: 25px;
    min-width: 25px;
}

.revealed {
    background-color: #3390db;
    opacity: 1 !important;
}

.superman {
    opacity: 0.5;
}